@model PrescriptionUI.Models.AdministratorViewModel

@{
    ViewBag.Title = "AdministratorEntrance";
    Layout = "~/Views/shared/MainLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@using (Html.BeginForm("AdministratorEntrance", "Home", FormMethod.Post))
{

<div class="container login-container">
    <h3 class="mb-4 billing-heading">Administrator Entrance</h3>
    <div class="row">
        <div class="col-md-6 login-form-1">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your User Name *" value=""
                           @Html.EditorFor(m => m.UserName, new { htmlAttributes = new {@class = "form-control"  } })
                           @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "form-danger text-dark" })
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value=""
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                           @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div>
                    <input type="submit" value="Login" class="btn btn-black py-3 px-5" />
                    @*@Html.ActionLink("submit", "AdministratorEntrance1",new { m = Model })*@
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
}