@model PrescriptionUI.Models.PrescriptionViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

<h2>Prescription Details:</h2>
<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.medicine)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.medicine)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doctor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Doctor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Patient)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patient)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cause)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cause)
            </dd>

        </dl>
    </div>
</body>
<p>
    @Html.ActionLink("Back to List", "Index", new { id = Model.Patient })
</p>