@model PrescriptionUI.Models.DoctorViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/OptionsLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}

<h2>Details</h2>

<div>
    <h4>DoctorViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseExpirationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
