@model PrescriptionUI.Models.DoctorViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/OptionsLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
                <a class="image-popup"><img src="~/vegefoods/images/doctor.jpg.png" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
                <h3>@Model.Name</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">License Expiration Date: @Model.LicenseExpirationDate</a>
                    </p>
                </div>
                <p class="price"><span>@Model.SpecialName</span></p>
                <a class="btn btn-black py-3 px-5" @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </a>
            </div>
        </div>
    </div>
</section>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
