@model PrescriptionUI.Models.DoctorViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/OptionsLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}


@using (Html.BeginForm("Edit", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
                    <a class="image-popup"><img src="~/vegefoods/images/doctor.jpg.png" class="img-fluid"></a>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
                    <p>
                        Name:

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        License Expiration Date:

                        @Html.EditorFor(model => model.LicenseExpirationDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LicenseExpirationDate, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        Specialty:
                        @Html.EditorFor(model => model.SpecialName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpecialName, "", new { @class = "text-danger" })
                    </p>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Save" class="btn btn-black py-3 px-5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

