@model PrescriptionUI.Models.ForDoctorViewModel
@{
    ViewBag.Title = "DoctorOptions";
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}
<body>
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image: url('../vegefoods/images/doctorOption.jpg');" alt="">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">Hi  @Model.doctor.Name</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

@using (Html.BeginForm("prescriptionIssuance", "Doctor"))
{
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>Name</th>
                                    <th>Id</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.patients)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PatientId)
                                        </td>
                                        <td>
                                            @Html.ActionLink("prescription Issuance", "prescriptionIssuance", new { id = item.Id, doctor = Model.doctor.DoctorId }) |
                                            @*@Html.ActionLink("medical history", "medicalHistory", new { id = item.PatientId })*@
                                            @Html.ActionLink("medical history", "Index","Prescription", new { id = item.PatientId },null)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}‏