@model PrescriptionUI.Models.PrescriptionForPatientModel

@{
    ViewBag.Title = "prescriptionIssuance";
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

           window.onload = function () {
               alert("@ViewBag.Message");
           };
    </script>
}

@using (Html.BeginForm("prescriptionIssuance", "Doctor"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Fill in the prescription details below please:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.prescription.medicine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(m => m.prescription.medicine, new SelectList(Model.medicines), "Select Medicine"))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prescription.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prescription.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prescription.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prescription.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prescription.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prescription.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.prescription.Cause, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prescription.Cause, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prescription.Cause, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}‏
