@model PrescriptionUI.Models.PrescriptionForPatientModel

@{
    ViewBag.Title = "prescriptionIssuance";
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@if (ViewBag.Message != null)
{
<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>}

@using (Html.BeginForm("prescriptionIssuance", "Doctor"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Fill in the prescription details below please:</h4>
    <hr />

    @Html.HiddenFor(model => model.doctor)
    @Html.HiddenFor(model => model.patient)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div>
            @*@Html.EditorFor(model => model.prescription.medicine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(m => m.prescription.medicine, new SelectList(Model.medicines), "Select Medicine"))*@

            @Html.DropDownListForUsers("medicine")
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.prescription.StartDate, htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            <input type="date" id="StartDate" name="StartDate" required="" style="position:relative; width:315px;" class="form-control text-dark" placeholder="start" />
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.prescription.EndDate, htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            <input type="date" id="EndDate" name="EndDate" required="" style="position:relative; width:315px;" class="form-control text-dark" placeholder="start" />
        </div>

    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.prescription.Cause, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prescription.Cause, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prescription.Cause, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}‏
